@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background: #081b29;
}
/*************borde********************/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(155, 152, 142, 0.397);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/**color de letras del logo*/
.logo{
    font-size: 25px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover{
    color: rgba(0, 0, 255, 0.164);
}
/*********      login               *************/
@import url("https.//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin:0;
    font-family:"Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*********************/
    background: url('../dana/login/ht.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    color: rgb(219, 208, 208);
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background: transparent;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper H1{
    font-size:  36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
   margin:30px 0;
   position:relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(82, 71, 71, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(99, 90, 90);
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: rgb(240, 230, 230);
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a{
    color: rgb(216, 203, 203);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
/****** boton */
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: burlywood;
    outline: none;
    border: none;
    border-radius: 40px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;

}
.register-link p a{
    color: rgb(209, 194, 194);
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}