@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background: #040b0f;
}
/*************borde********************/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(112, 110, 103, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/*******************/

/**color de letras del logo*/
.logo{
    font-size: 25px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover{
    color: rgba(0, 0, 255, 0.164);
}
/*********      login               *************/
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal >li >a{
    display: block;
    padding: 10px 10px;
    color: aliceblue;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color: rgba(3, 3, 5, 0.432);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 100px;
    background-color: rgba(0,0,0,05);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgba(71, 69, 69, 0.164);
}
.menu-vertical li a{
    display: block;
    color: aliceblue;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
/*************menu lateral*********************/
#btn-menu{
    display: none;
    background-color: #7278EC;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/******************************/
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.swiper-slide{
    padding: 0 80px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-prev{
    color: antiquewhite;
}
.swiper-button-next{
    color: antiquewhite;
}
.swiper-pagination-bullet{
    background-color: cadetblue;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: aqua;
}
/******0000000000000000000000000000000000000000000000*************************/
main{
    background-color: #7278EC;
    width: 100%; main-height:450px;
}
iframe{
    background-color: #c7c7c7;
    position: relative;
    width: 75%;height: 400px;
}
/******************/
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 50px;
    color: #7278EC;
    text-transform: uppercase;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a:hover{
    color: #cccde4;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgba(155, 152, 142, 0.096);
    padding: 20px;
    min-width: 400px;
}
table{
    width: 100%;
}
th,td{
    color: aliceblue;
}
.borrar{
    background-color: #7278EC;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
}
.header-content{
    padding: 200px 0 100px 0;
}
.header-info{
    display: flex;
}
.header-txt{
    width: 50%;
}
.header-img{
    width: 50%;
    text-align: right;
}
.header-img img{
    width: 500px;
}
.prices{
    display:flex ;
    margin: 20px 0;
}
.price-1{
    font-size: 30px;
    color: #7278EC;
    text-decoration-line: line-through;
    margin-right: 25px;
}
.price-2{
    font-size: 30px;
    color: #7278EC;
}
.btn-1{
    display: inline-block;
    background-color: #7278EC;
    color: aliceblue;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}
.btn-1:hover{
    background-color: #7278EC;
}
hr{
    border: 1px solid;
}
.promos{
    padding: 50px 0;
    text-align: center;
}
.promos h2{
    font-size: 50px;
    color: #cccde4;
    margin-bottom: 35px;
}
.categories{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.categorie{
    display: flex;
    align-items: center;
    padding: 35px;
}
.categorie img{
    width: 150px;
}
.categorie-1{
    width: 50%;
}
.categorie-1 h3{
    color: aliceblue;
    font-size: 22px;
    font-weight: 600;
}
.categorie-1 p{
    color: #70747ade;
    font-size: 18px;
}
.categorie-img{
    width: 50%;
}
.product img{
    width: 150px;
}
/****************/
.products {
    padding: 50px 0;
}
.products h2{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 70px;
}
.product{
    text-align: center;
}
.product img{
    width: 150px;
    margin-bottom: 15px;
}
.product-txt h3{
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 15px;
}
.product-txt p{
    color: #7278EC;
    font-size: 16px;
    margin-bottom: 15px;
}
.precio{
    color: #7278EC; 
}
.btn-3{
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: aliceblue;
    border: 1px solid #7278EC;
    margin-top: 15px;
}
.btn-3:hover{
    background-color: #7278EC;
}
.footer{
    display: flex;
    padding: 30px 0;
}
.link {
    width: 20%;
}
.link h3{
    color: aliceblue;
    margin-bottom: 20px;
}
.link a{
    color: #70747ade;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.link p{
    color: #6482adde;
    font-size: 16px;
}
@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #292929de;
        display: none;
    }
    .menu.navbar ul li {
        width:100%;
    }
    #menu:checked ~.navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .mySwinper-1{
        width: 300px;
    }
    .swiper-slide{
        padding: 0 30px 50px 30px;
    }
    .header-content{
        padding: 100px 0 50px 0;
    }
    .header-info{
        padding: 0;
        flex-direction: column;
        text-align: center;
        color: aliceblue;
    }
    .header-txt{
        width: 100%;
        color: aliceblue;
    }
    
    .header-txt h1{
        font-size: 50px;
        color: aliceblue;
        margin-bottom: 70px;
    }
    .header-img{
        width: 100;
    }
    .header-img img{
        width: 200px;
    }
    .prices{
        flex-direction: column;
    }
    .price-1{
        margin: 0;
    }
    .btn-1{
        margin: 20px 0;
    }
    .promos{
        padding: 30px;
    }
    .promos h2{
        font-size: 40px;
        margin-bottom: 0;
    }
    .categories{
        grid-template-columns: repeat(1,1fr);
    }
    .categorie{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .categorie-1{
        width: 100%;
        margin-bottom: 25px;
        order: -1;
    }
    .categorie-img{
        width: 100%;
    }
    .products{
        padding: 30px;
    }
    .products h2{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .link{
        width: 100%;
    }
}